<div class="tasks-container">
  <div class="tasks-header">
    <h2 class="app-title">DidIt</h2>

    <div class="header-right">
      <span class="user-name" (click)="goToProfile()">
        {{ userName }}
      </span>

      <button class="logout-btn" (click)="logout()">Logout</button>

      <button class="theme-btn" (click)="toggleTheme()">🌓</button>
    </div>
  </div>

  <div class="tasks-controls">
    <button class="create-btn" (click)="goToCreate()">+ Create Task</button>

    <div class="filters">
      <input
        type="text"
        placeholder="Search tasks..."
        [(ngModel)]="search"
        (input)="onFilterChange()"
      />

      <select [(ngModel)]="status" (change)="onFilterChange()">
        <option value="">All</option>
        <option value="TODO">TODO</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
      </select>

      <select [(ngModel)]="sort" (change)="onSortChange()">
        <option value="id,desc">Newest First</option>
        <option value="id,asc">Oldest First</option>
      </select>
    </div>
  </div>

  <!-- <h2 class="section-title">My Tasks</h2> -->

  <div *ngIf="tasks$ | async as res">
    <div *ngIf="tasks$ | async as res">
      <p *ngIf="isLoading">Loading tasks...</p>

      <div *ngIf="res.content.length > 0; else noTasks">
        <div class="task-list">
          <div
            class="task-card"
            *ngFor="let task of res.content"
            [ngClass]="{ completed: task.completed }"
          >
            <div class="task-left">
              <button
                class="status-btn"
                [ngClass]="task.status"
                (click)="onToggle(task.id)"
                [disabled]="togglingId === task.id"
              >
                {{ task.status === 'IN_PROGRESS' ? 'DOING' : task.status }}
              </button>

              <div class="task-info">
                <div class="task-title">{{ task.title }}</div>
                <!-- <div class="task-status" [ngClass]="task.status">
                  {{ task.status }}
                </div> -->
              </div>
            </div>

            <div class="task-actions">
              <button class="edit-btn" (click)="goToEdit(task.id)">Edit</button>

              <button
                class="delete-btn"
                (click)="onDeleteClick(task.id)"
                [disabled]="deletingId === task.id"
              >
                {{
                  deletingId === task.id
                    ? 'Deleting...'
                    : confirmDeleteId === task.id
                      ? 'Sure?'
                      : 'Delete'
                }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination">
        <button
          *ngFor="let p of [].constructor(res.totalPages); let i = index"
          (click)="onPageChange(i)"
          [ngClass]="{ active: i === page }"
        >
          {{ i + 1 }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #noTasks>
    <p>No tasks found</p>
  </ng-template>
</div>
