/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

body.dark {
  background: #121212;
  color: #f1f1f1;
}

body.dark .task-card {
  background: #1e1e1e;
}

body.dark .login-card {
  background: rgba(30, 30, 30, 0.9);
}

body.dark input {
  background: transparent;
  color: white;
}

body.dark .input-group {
  background: #2a2a2a;
}

body.dark .filters input,
body.dark .filters select {
  background: #2a2a2a;
  color: white;
  border: none;
}

.top-nav {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 18px; /* bigger */
  font-weight: 600; /* bolder */
  display: flex;
  align-items: center ;
}

.back-link {
  cursor: pointer;
  color: #0084ff;
  font-weight: 600;
}

.back-link:hover {
  text-decoration: underline;
}

.breadcrumb {
  color: #000000;
  margin-left: 6px;
}
